:root {
  --black: #211a1d;
  --purple: #6320ee;
  --lilac: #8075ff;
  --gray: #f8f0fb;
  --light_mint: #cad5ca;
  --white: #ffffff;
}

@font-face {
  font-family: pressStart;
  src: url(/assets/font/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/assets/font/Roboto-Regular.ttf);
}

* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
  background-image: url(../assets/img/header_bg.png);
  font-family: pressStart;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* delete this to make header not sticky :)*/
  background-position: center;
  justify-content: center;
}

.title {
  position: absolute;
  justify-content: center;
  top: 70px;
  font-size: 3vw;
  color: var(--white);

  animation-name: bed_float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

.bed {
  width: 410px;
  height: 120px;
  top: 54vh;
  position: absolute;

  animation-name: bed_float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes bed_float {
  0% {
    transform: translate(10%, 8%) rotate(3deg);
  }
  50% {
    transform: translate(-8%, 5%) rotate(5deg);
  }
  100% {
    transform: translate(10%, 8%) rotate(-3deg);
  }
}

.description {
  text-align: center;
  font-size: 1.1vw;
  position: fixed;
  font-family: roboto;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--white);
}

.cta {
  display: absolute;
  align-self: flex-end;
  margin-bottom: 0.3em;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* chapter1*/
#ch1 {
  background-image: url(../assets/img/chapitre2/bg_ch2.png);
  position: relative;
  z-index: 2;
}

.hallway {
  width: 2044px;
  height: 420px;
  top: 30vh;
  left: -10vh;
  background-image: url(../assets/img/chapitre1/hallway.png);
  position: absolute;
}

.doorway {
  width: 2044px;
  height: 420px;
  z-index: 1;
  position: absolute;
}

.rising {
  width: 20vw;
  height: 20vw;
  aspect-ratio: 1/1;
  background-size: 180vw 100%;
  background-image: url(../assets/img/chapitre1/rising_spritesheet.png);
  position: absolute;
  display: inline-block;
  z-index: 1;

  animation-name: rising;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(9);
}

.walking1 {
  width: 20vw;
  height: 20vw;
  aspect-ratio: 1/1;
  background-size: 120vw 100%;
  background-image: url(../assets/img/chapitre1/walk_anim_spritesheet.png);
  position: absolute;
  display: inline-block;
  z-index: 1;

  animation-name: walking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}

@keyframes rising {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -180vw 0;
  }
}

@keyframes walking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -120vw 0;
  }
}

/* chapter2*/
#ch2 {
  background-image: url(../assets/img/chapitre2/bg_ch2.png);
  position: relative;
}

.hallway2 {
  width: 2044px;
  height: 420px;
  top: 30vh;
  left: -181vh;
  background-image: url(../assets/img/chapitre1/hallway.png);
  position: absolute;
}

.doorway2 {
  width: 2044px;
  height: 420px;
  z-index: 4;
  position: absolute;
}

.road_ch2 {
  width: 2044px;
  height: 420px;
  top: 30vh;
  left: 5.5vw;
  z-index: 3;
  position: absolute;
}

.building1 {
  width: 157px;
  height: 387px;
  left: 21vw;
  top: 22vh;
  position: absolute;
  z-index: 2;
}

.building2 {
  width: 157px;
  height: 450px;
  left: 30vw;
  top: 14vh;
  position: absolute;
  z-index: 2;
}

.building3 {
  width: 157px;
  height: 468px;
  left: 44vw;
  top: 13vh;
  position: absolute;
  z-index: 2;
}

.building4 {
  width: 157px;
  height: 387px;
  left: 86vw;
  top: 22vh;
  position: absolute;
  z-index: 2;
}

.building5 {
  width: 157px;
  height: 450px;
  left: 74vw;
  top: 14vh;
  position: absolute;
  z-index: 2;
}

.building6 {
  width: 157px;
  height: 468px;
  left: 56vw;
  top: 13vh;
  position: absolute;
  z-index: 2;
}

.bg_building1 {
  width: 172px;
  height: 591px;
  left: 25vw;
  position: absolute;
  z-index: 1;
}

.bg_building2 {
  width: 172px;
  height: 520px;
  left: 36vw;
  top: 10vh;
  position: absolute;
  z-index: 1;
}

.bg_building3 {
  width: 172px;
  height: 639px;
  left: 48vw;
  top: -5vh;
  position: absolute;
  z-index: 1;
}

.bg_building4 {
  width: 172px;
  height: 450px;
  left: 58vw;
  top: 15vh;
  position: absolute;
  z-index: 1;
}

.bg_building5 {
  width: 172px;
  height: 639px;
  left: 68vw;
  top: -5.3vh;
  position: absolute;
  z-index: 1;
}

.bg_building6 {
  width: 172px;
  height: 490px;
  left: 79vw;
  top: 10vh;
  position: absolute;
  z-index: 1;
}

.bg_building7 {
  width: 172px;
  height: 639px;
  left: 89vw;
  top: -5vh;
  position: absolute;
  z-index: 1;
}

/* chapter3*/
#ch3 {
  background-image: url(../assets/img/chapitre2/bg_ch2.png);
  position: relative;
}

.tree1 {
  width: 232px;
  height: 433px;
  top: 26vh;
  left: 2vw;
  position: absolute;
  /*
  border: solid red;
  */
  z-index: 2;
}

.tree2 {
  width: 169px;
  height: 373px;
  top: 36.5vh;
  left: 32vw;
  position: absolute;
  /*
  border: solid blue;
  */
  z-index: 2;
}

.tree3 {
  width: 274px;
  height: 399px;
  top: 31vh;
  left: 14vw;
  position: absolute;
  /*
  border: solid orange;
  */
  z-index: 2;
}

.tree4 {
  width: 169px;
  height: 373px;
  top: 36.5vh;
  left: 62vw;
  position: absolute;
  /*
  border: solid blue;
  */
  z-index: 2;
}

.tree5 {
  width: 274px;
  height: 399px;
  top: 31vh;
  left: 44vw;
  position: absolute;
  /*
  border: solid orange;
  */
  z-index: 2;
}

.tree6 {
  width: 232px;
  height: 433px;
  top: 26vh;
  left: 76vw;
  position: absolute;
  /*
  border: solid red;
  */
  z-index: 2;
}

.bg_tree1 {
  width: 193px;
  height: 390px;
  top: 18vh;
  left: 9vw;
  position: absolute;
  /*
  border: solid green;
  */
}

.bg_tree2 {
  width: 193px;
  height: 539px;
  top: 6vh;
  left: 22vw;
  position: absolute;
  /*
  border: solid yellow;
  */
}

.bg_tree3 {
  width: 245px;
  height: 335px;
  top: 25vh;
  left: 35vw;
  position: absolute;
  /*
  border: solid cyan;
  */
}

.bg_tree4 {
  width: 193px;
  height: 539px;
  top: 6vh;
  left: 49vw;
  position: absolute;
  /*
  border: solid yellow;
  */
}

.bg_tree5 {
  width: 345px;
  height: 435px;
  top: 17vh;
  left: 62vw;
  position: absolute;
  /*
  border: solid yellow;
  */
}

.bg_tree6 {
  width: 245px;
  height: 335px;
  top: 28vh;
  left: 85vw;
  position: absolute;
  /*
  border: solid cyan;
  */
}

.road_ch3 {
  width: 2044px;
  height: 420px;
  top: 30vh;
  left: -7vw;
  position: absolute;
}

.car1 {
  width: 430px;
  height: 160px;
  top: 50vh;
  left: 5vw;
  position: absolute;
  z-index: 1;
}

.car2 {
  width: 420px;
  height: 170px;
  top: 49vh;
  left: 28vw;
  position: absolute;
  z-index: 1;
}

.car3 {
  width: 420px;
  height: 200px;
  top: 46vh;
  left: 70vw;
  position: absolute;
  z-index: 1;
  transform: scaleX(-1);
}

/* chapter4*/
#ch4 {
  background-image: url(../assets/img/chapitre2/bg_ch2.png);
  position: relative;
}

.bridge_front {
  width: 1130px;
  height: 300px;
  top: 41.7vh;
  right: -8.3vw;
  z-index: 2;
  position: absolute;
}

.bridge_back {
  width: 1130px;
  height: 300px;
  top: 41.7vh;
  right: -8.3vw;
  z-index: 2;
  position: absolute;
}

.water_walls {
  width: 971px;
  height: 25px;
  top: 66.2vh;
  right: 0vw;
  display: none;
  position: absolute;
}

.road_ch4 {
  width: 2044px;
  height: 300px;
  top: 40.1vh;
  left: -57vw;
  z-index: 3;
  position: absolute;
}

.road_shadow {
  width: 2920px;
  height: 600px;
  top: 12.4vh;
  left: -102vw;
  z-index: 3;
  position: absolute;
}

.water {
  width: 100%;
  height: 25vh;
  bottom: 0vh;
  background-color: var(--purple);
  opacity: 50%;
  position: absolute;
}

/* chapter5*/
#ch5 {
  background-image: url(../assets/img/chapitre5/parralaxe1.png);
  position: relative;
}

.parallax2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.parallax3 {
  width: 1920px;
  height: 263px;
  bottom: 0px;
  position: absolute;
}

.empty_walls {
  width: 1420px;
  height: 150px;
  position: absolute;
  display: none;
}

/* chapter6*/
#ch6 {
  background-image: url(../assets/img/chapitre6/bg_ch6.png);
  position: relative;
}

.cloud1 {
  width: 320px;
  height: 320px;
  top: 21vh;
  left: 12vw;
  position: absolute;
}

.cloud2 {
  width: 320px;
  height: 320px;
  top: 11vh;
  left: 72vw;
  position: absolute;
}

.cloud3 {
  width: 320px;
  height: 320px;
  top: 53vh;
  left: 84vw;
  position: absolute;
}

.cloud4 {
  width: 320px;
  height: 320px;
  top: 7vh;
  left: 36vw;
  position: absolute;
}

.cloud5 {
  width: 320px;
  height: 320px;
  top: 54vh;
  left: 7vw;
  position: absolute;
}

.cloud6 {
  width: 320px;
  height: 320px;
  left: 12vw;
  display: none;
  position: absolute;
}

.cloud7 {
  width: 320px;
  height: 320px;
  top: 46vh;
  left: 52vw;
  position: absolute;
}

.sun {
  width: 210px;
  height: 200px;
  position: absolute;
}

.falling_spritesheet {
  width: 20vw;
  height: 20vw;
  aspect-ratio: 1/1;
  background-size: 120vw 100%;
  top: 50px;
  background-image: url(../assets/img/chapitre6/falling_fella_spritesheet.png);
  position: absolute;
  display: inline-block;

  animation-name: falling;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}

@keyframes falling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -120vw 0;
  }
}

/* chapter7*/
#ch7 {
  background-image: url(../assets/img/chapitre7/bg_ch7.png);
  position: relative;
}

.felloff_spritesheet {
  width: 20vw;
  height: 20vw;
  aspect-ratio: 1/1;
  background-size: 280vw 100%;
  top: 50px;
  background-image: url(../assets/img/chapitre7/lilfella_felloff_spritesheet.png);
  position: absolute;
  display: inline-block;

  animation-name: felloff;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(14);
}

@keyframes felloff {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -280vw 0;
  }
}
